* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.homecard {
    background-color: peachpuff;
    width: 500px;
    margin: auto;
    padding: 8px;
    border: 5px ridge darkred;
}

.heading {
    color: darkblue;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

#site-name {
    color: darkred;
    background-color: orange;
    font-size: 36px;
    padding: 8px;
    margin: 8px;
    border-style: double;
    border-color: black;
}

#home-list {
    font-size: 24px;
    text-align: center;
    line-height: 2em;
}

.foods {
    display: inline-block;
    text-align: left;
}

.description {
    background-color: green;
    color: white;
    font-size: 24px;
}

.subheading {
    font-size: 28px;
    color: darkorange;
}

.food-img {
    width: 400px;
    height: auto;
    text-align: center;
}

.home-button {
    background-color: orange;
    color: darkred;
    border-color: black;
    margin-left: 50%;
    font-size: 24px;
}